version: '3.7'

services:
  # Load balancer
  traefik:
    container_name: traefik
    build: ./build/traefik/
    restart: always
    ports:
      - 80:80
      - 443:443
    command: --web --logLevel=DEBUG --configfile=/toml/traefik-public.toml --docker.exposedbydefault=false --docker.watch
    volumes:
      - traefik:/config
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - core

  traefik_proxy:
    container_name: traefik_proxy
    image: lowet84/oauth2proxy
    labels:
      - traefik.enable=true
      - traefik.port=4180
      - traefik.frontend.rule=Host:traefik.${SERVER_DOMAIN}
    environment:
      - COOKIE_SECRET
      - SERVER_DOMAIN
      - CLIENT_ID
      - CLIENT_SECRET
      - SERVICE=traefik:8080
      - GROUP=secure
    restart: always
    networks:
      - core

  # Docker management gui
  portainer:
    container_name: portainer
    image: portainer/portainer
    restart: always
    volumes:
     - /var/run/docker.sock:/var/run/docker.sock
     - portainer:/data
    command: --no-auth
    networks:
      - core
  
  portainer_proxy:
    container_name: portainer_proxy
    image: lowet84/oauth2proxy
    labels:
      - traefik.enable=true
      - traefik.port=4180
      - traefik.frontend.rule=Host:portainer.${SERVER_DOMAIN}
    environment:
      - COOKIE_SECRET
      - SERVER_DOMAIN
      - CLIENT_ID
      - CLIENT_SECRET
      - SERVICE=portainer:9000
      - GROUP=secure
    restart: always
    networks:
      - core

  # dns server 2 make drone work with gitlab in containerland
  dns:
    container_name: dns
    image: phensley/docker-dns-rest
    ports:
      - 5080:80
    volumes:
      - /var/run/docker.sock:/docker.sock
    networks:
      - core

  # Build server
  drone-server:
    container_name: drone-server
    image: drone/drone:1.0.0-rc.3
    restart: always
    volumes:
      - drone:/data
    labels:
      - traefik.enable=true
      - traefik.port=80
      - traefik.frontend.rule=Host:drone.${SERVER_DOMAIN}
    environment:
      - DRONE_GIT_ALWAYS_AUTH=true
      - DRONE_SERVER_HOST=drone.${SERVER_DOMAIN}
      - DRONE_SERVER_PROTO=https
      - DRONE_TLS_AUTOCERT=false
      - DRONE_GITLAB_SERVER=https://gitlab.${SERVER_DOMAIN}
      - DRONE_GITLAB_SKIP_VERIFY=true
      - DRONE_GITLAB_CLIENT_ID=${CLIENT_ID}
      - DRONE_GITLAB_CLIENT_SECRET=${CLIENT_SECRET}
      - DRONE_RPC_SECRET=${COOKIE_SECRET}
    networks:
      - core
    dns: ${DNS_IP}

  #Build agent
  drone-agent:
    container_name: drone-agent
    image: drone/agent:1.0.0-rc.3
    command: agent
    restart: always
    depends_on:
      - drone-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DRONE_RPC_SERVER=https://drone.${SERVER_DOMAIN}
      - DRONE_RPC_SECRET=${COOKIE_SECRET}
    networks:
      - core

  # Git server
  gitlab:
    container_name: gitlab
    image: gitlab/gitlab-ce:latest
    restart: always
    volumes:
      - gitlab_config:/etc/gitlab:Z
      - gitlab_logs:/var/log/gitlab:Z
      - gitlab_data:/var/opt/gitlab:Z
    labels:
      - traefik.enable=true
      - traefik.gitlab.port=80
      - traefik.gitlab.frontend.rule=Host:gitlab.${SERVER_DOMAIN}
      - traefik.docker.port=9000
      - traefik.docker.frontend.rule=Host:docker.${SERVER_DOMAIN}
    environment:
       GITLAB_OMNIBUS_CONFIG: |
         registry_external_url 'https://docker.$SERVER_DOMAIN'
         registry_nginx['listen_port'] = '9000'
         registry_nginx['listen_https'] = false
         external_url 'https://gitlab.$SERVER_DOMAIN'
         nginx['listen_port'] = '80'
         nginx['listen_https'] = false
         gitlab_rails['gitlab_signup_enabled'] = false

    networks:
      - core

  # Auto update docker container to newest image
  watchtower:
    container_name: watchtower
    image: v2tec/watchtower
    restart: always
    command: --interval 20 --label-enable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    networks:
      - core

  # Portal gui
  portal:
    container_name: portal
    image: lowet84/traefik-portal
    restart: always
    environment:
      - TRAEFIK=http://traefik:8080
    networks:
      - core
      
  portal_proxy:
    container_name: portal_proxy
    image: lowet84/oauth2proxy
    labels:
      - traefik.enable=true
      - traefik.port=4180
      - traefik.frontend.rule=Host:portal.${SERVER_DOMAIN}
    restart: always
    command: |
      /bin/oauth2_proxy 
      --cookie-secure=false  
      --upstream="http://portal:3000"  
      --http-address="0.0.0.0:4180" 
      --provider=gitlab 
      --login-url="https://gitlab.${SERVER_DOMAIN}/oauth/authorize" 
      --redeem-url="http://gitlab/oauth/token" 
      --validate-url="http://gitlab/api/v4/user" 
      --redirect-url="https://portal.${SERVER_DOMAIN}/oauth2/callback" 
      --email-domain=* 
      --cookie-secret ${COOKIE_SECRET} 
      --cookie-domain ${SERVER_DOMAIN} 
      --client-id ${CLIENT_ID} 
      --client-secret ${CLIENT_SECRET}
    networks:
      - core

  presentation:
    container_name: presentation
    image: lowet84/docker-ci-presentation
    restart: always
    labels:
      - traefik.enable=true
      - traefik.port=8043
      - traefik.frontend.rule=Host:presentation.${SERVER_DOMAIN}
    networks:
      - core

volumes:
  drone:
  portainer:
  traefik:
  gitlab_config:
  gitlab_logs:
  gitlab_data:

# Create a network called "core" before running "docker-compose up"
networks:
  core:
    external: true
  # gitlab:

# Create a file called .env and add the follong information
# SERVER_DOMAIN=<your domain>
# VOLUME_PATH=<path where you want to store volumes>
# DRONE_ADMIN=<usernames of drone admins>
# DOCKER_CONFIG=<path to docker config.json file>

